#footer {
    background-color: var(--ion-color-primary);
    ion-button {
	flex: 1;
	&.has-badge ion-badge{
	    margin-inline-start: 0.3em;
	    position: relative;
	    transform: translateY(-0.4rem);
	    border-radius: 0;
	}
    }

    ion-buttons {
	width: 100%;
    }
}
