:root {
    --ion-background-color: var(--ion-color-light);
}

ion-content.main::part(background){
    background: var(--ion-color-dark);
}

ion-input {
    --highlight-color-valid: var(--ion-color-primary) !important;
}
