:root {
    --message-block-border-radius: 1rem;
}

/*
// todo: get scrolling logic to work as expected
.chatMessagesWrapper {
    max-height: 200px;
    overflow-y: auto;
}
*/

.messageBlock{
    display: flex;
    flex-direction: column;
    &.me > div {
	text-align: right;
	&:first-child > div {
	    border-top-right-radius: var(--message-block-border-radius);
	}
	&:nth-last-child(2) > div {
	    border-bottom-right-radius: var(--message-block-border-radius);
	}
	> div {
	    border-top-left-radius: var(--message-block-border-radius);
	    border-bottom-left-radius: var(--message-block-border-radius);
	    padding-left: 1rem;
	}
    }
    &:not(.me) > div {
	text-align: left;
	&:first-child > div {
	    border-top-left-radius: var(--message-block-border-radius);
	}
	&:nth-last-child(2) > div {
	    border-bottom-left-radius: var(--message-block-border-radius);
	}
	> div {
	    border-top-right-radius: var(--message-block-border-radius);
	    border-bottom-right-radius: var(--message-block-border-radius);
	    padding-right: 1rem;
	}
    }
    > div{
	&:not(:first-child){
	    margin-top: 2px;
	}
	> div {
	    padding: 0.5rem;
	    display: inline-block;
	    &.hashedBackground1{background-color: #f9414433;}
	    &.hashedBackground2{background-color: #f3722c33;}
	    &.hashedBackground3{background-color: #f8961e33;}
	    &.hashedBackground4{background-color: #f9844a33;}
	    &.hashedBackground5{background-color: #f9c74f33;}
	    &.hashedBackground6{background-color: #90be6d33;}
	    &.hashedBackground7{background-color: #43aa8b33;}
	    &.hashedBackground8{background-color: #4d908e33;}
	    &.hashedBackground9{background-color: #57759033;}
	    &.hashedBackground10{background-color: #277da133;}
	}
    }
    + .messageBlock{
	margin-top: 1rem;
    }

    > .timestamp{
	text-align: right;
    }

    .meta {
	font-size: smaller;
    }
}
