#appLoadingIndicator {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
	height: 50vh;
	padding: 2rem;
    }
    
    ion-progress-bar{
	border-radius: 1rem;
	height: 1rem;
	margin-top: 2rem;
	width: 50vh;
    }
}
